@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.status-bar {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.status-bar__wrap {
    display: flex;
    align-items: center;
}

.status-bar__column {
    justify-content: space-between;
}

.header .header__column {
    display: flex;
}

.status-bar__column {
    font-size: 15px;
    padding: 10px 10px;

    
}

.status-bar__mail {
    padding-right: 10px;
}

.status-bar__mail,
.status-bar__image,
.status-bar__badge {
    cursor: pointer;
}

.status-bar__column i {
    cursor: pointer;
}

.google__write {
    position: fixed;
}